In [2]:
import pandas as pd

In [3]:
import numpy as np

In [3]:
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [20]:
p4 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
d4 = pd.DataFrame([p4], index=['Store 4'])
df.append(d4)
df

          Name Item Purchased  Cost
Store 1  Chris       Dog Food  22.5
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0

In [29]:
df.sort_values('Cost')

          Name Item Purchased  Cost
Store 1  Kevyn   Kitty Litter   2.5
Store 2  Vinod      Bird Seed   5.0
Store 1  Chris       Dog Food  22.5

In [35]:
df['Name'].value_counts?

Object `value_counts` not found.

In [ ]:
df['Name'].value_counts

In [ ]:
df['Name'].value_counts

In [34]:
df['Name'].value_counts

<bound method IndexOpsMixin.value_counts of Store 1    Chris
Store 1    Kevyn
Store 2    Vinod
Name: Name, dtype: object>

In [1]:
df.loc['Store 2']['Name']

NameError: name 'df' is not defined

In [6]:
df = pd.DataFrame([('bird', 'Falconiformes', 389.0),
                    ('bird', 'Psittaciformes', 24.0),
                   ('mammal', 'Carnivora', 80.2),
                   ('mammal', 'Primates', np.nan),
                   ('mammal', 'Carnivora', 58)],
                   index=['falcon', 'parrot', 'lion', 'monkey', 'leopard'],
                  columns=('class', 'order', 'max_speed'))

df

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [59]:
df['sum'] = 0
g = df.groupby('class')
for i in g:
    df['sum'][(df['class']==i[0])] = i[1]['max_speed'].sum()
#     i[1].loc[:,'sum'] = 
    print(len(i[1]))
df['sum'].min()

2
3

/home/anshumandubey/.local/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

138.2

In [1]:
df[df['class'].str.startswith('b')]

NameError: name 'df' is not defined

In [3]:
a = 5
for i in range(a):
    print(i,a)
    a-=1

0 5
1 4
2 3
3 2
4 1